<div class="container">
  <img src="../assets/Frame.svg" alt="">
<mat-stepper #stepper>
  <mat-step [stepControl]="firstFormGroup" errorMessage="Name is required.">
    <form [formGroup]="firstFormGroup">
      <ng-template matStepLabel>Personal Information</ng-template>
      <mat-form-field appearance="outline" required>
        <mat-label>Date of Birdth</mat-label>
        <input matInput formControlName="firstCtrl" required />
        <mat-hint><strong>MM/DD/YYYY</strong> </mat-hint>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Gender</mat-label>
        <mat-select>
          <mat-option> Male </mat-option>
          <mat-option> Female </mat-option>
          <mat-option> Other </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>ID Number </mat-label>
        <input matInput />
      </mat-form-field>

      <div>
        <button mat-button  matStepperNext >Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="secondFormGroup" errorMessage="Address is required.">
    <form [formGroup]="secondFormGroup">
      <ng-template matStepLabel>Address</ng-template>
      <mat-form-field appearance="outline" >
        <mat-label>Address</mat-label>
        <input
          matInput
          placeholder="Ex. 1 Main St, New York, NY"
          formControlName="secondCtrl"
          required
        />
      </mat-form-field>
      <div>
        <button mat-button matStepperNext >Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Done</ng-template>
    <p>You are now done.</p>
    <div>
      <button mat-button matStepperPrevious>Back</button>
      <button mat-button (click)="stepper.reset()">Reset</button>
    </div>
  </mat-step>
</mat-stepper>

</div>