mat-stepper{
    background-color: #FAFDFB ;
    margin-top: 100px  ;
    border-radius: 20px;
}

button{
    background-color: #006A61;
    color: white;
    width: 90%;
    margin: 32px  32px;
    border-radius: 30px;

}
img{
    margin-top: 5%;
    width: 20%;
   
}
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
  
}

mat-form-field{
    width: 100%;
}
